ul {
    border: 1px solid black;
    list-style: none;
    padding-left: 0px;
}

ul li {
    border: 1px solid black;
    width: 100px;
    display: inline-block;
    text-align: center;
}

/* @media screen and (max-width : 1000px) {
    ul li {
        width: 80%;
        display: inline-block;
        }
        } */

span {
    display: none;
}

@media screen and (max-width : 600px) {
    span {
        display: inline;
    }

    span:hover+ul {
        display: block;
    }   

    ul {
        display: none;
    }

    ul li {
        width: 100%;
        display: block;
    }
}