/*---------------------------------------------------------*/

/* 메인박스 */
.main {
    border: 1px solid red;
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    font-size: 0;
    background-color: black;
}

/*---------------------------------------------------------*/

/* 상단 큰박스 inlin-block 요소 */
.sub1>div {
    display: inline-block;
}

/* 상단 큰박스 */
.sub1 {
    /* border: 1px solid blue; */
    font-size: 1rem;
}

/*---------------------------------------------------------*/

/* 상단 좌측 중간박스 */
.sub1-1 {
    /* border: 1px solid blue; */
    width: 20%;
    vertical-align: top;
}

/* 상단 좌측 작은박스 상단부분 */
.sub1-1-1 {
    /* border: 1px solid blue; */
    font-size: 150%;
    font-weight: 700;
    color: white;
    margin-bottom: 20px;
}

/* 상단 좌측 작은박스 하단부분 */
.sub1-1-2 {
    /* border: 1px solid blue; */
    color: white;
    font-size: 120%;
}

/* 상단 좌측 작은박스 하단부분 동일 */
.sub1-1-3 {
    color: #de15b6;
}

/*---------------------------------------------------------*/

/* 상단 중앙박스 */
.sub1-2 {
    /* border: 1px solid red; */
    width: 50%;
    color: white;
    font-size: 200%;
    text-align: left;
}

/*---------------------------------------------------------*/

/* 상단 우측박스 */
.sub1-3 {
    /* border: 1px solid blue; */
    width: 27%;
    color: white;
    vertical-align: top;
    margin-top: 10px;
} 

/* 우측 내부 작은 박스 */
.sub1-3-1 {
    /* border: 1px solid blue; */
    background-color: rgb(0, 0, 255);
    border-radius: 10px;
    width: 50%;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 120%;
} 

/* 우측 내부 작은 박스 */
.sub1-3-2 {
    /* border: 1px solid blue; */
    background-color: #de15b6;
    border-radius: 10px;
    width: 50%;
    padding: 20px;
    margin: 0 auto;
    font-size: 120%;
} 

/*---------------------------------------------------------*/

/* 하단 큰 박스 */
.sub2>div{
    /* border: 1px solid blue; */
    display: inline-block;
    background-color: white;
    height: 300px;
    margin: 10px;
    line-height: 300px;
}

/* 하단 작은박스  */
.sub2>div img {
    vertical-align: middle;
}

.sub2-1 {
    border: 1px solid blue;
    width: 30%;
}

.sub2-2 {
    border: 1px solid blue;
    width: 30%;
}

.sub2-3 {
    border: 1px solid blue;
    width: 30%;
}

.sub2-4 {
    border: 1px solid blue;
    width: 30%;
}

.sub2-5 {
    border: 1px solid blue;
    width: 30%;
}

.sub2-6 {
    border: 1px solid blue;
    width: 30%;
}

/*---------------------------------------------------------*/